[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/include/vk-utils"]
	path = submodules/include/vk-utils
	url = https://github.com/helixd2s/vk-utils
[submodule "generator"]
	path = generator
	url = https://github.com/TartanLlama/generator.git
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "robin-hood-hashing"]
	path = robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "submodules/include/tinygltf"]
	path = submodules/include/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "interval-tree"]
	path = interval-tree
	url = https://github.com/5cript/interval-tree.git
[submodule "submodules/include/args"]
	path = submodules/include/args
	url = https://github.com/Taywee/args.git
[submodule "RayTracingDenoiser"]
	path = RayTracingDenoiser
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
