[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "prebuild/include/glbind"]
	path = prebuild/include/glbind
	url = https://github.com/mackron/glbind.git
[submodule "prebuild/include/vkbind"]
	path = prebuild/include/vkbind
	url = https://github.com/mackron/vkbind.git
[submodule "prebuild/include/volk"]
	path = prebuild/include/volk
	url = https://github.com/zeux/volk.git
[submodule "prebuild/include/xvk"]
	path = prebuild/include/xvk
	url = https://github.com/Vulkan4D/xvk.git
[submodule "prebuild/include/vk-utils"]
	path = prebuild/include/vk-utils
	url = https://github.com/helixd2s/vk-utils
[submodule "prebuild/include/interval-tree"]
	path = prebuild/include/interval-tree
	url = https://github.com/5cript/interval-tree.git
[submodule "submodules/robin-hood-hashing"]
	path = submodules/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "prebuild/include/tinygltf"]
	path = prebuild/include/tinygltf
	url = https://github.com/syoyo/tinygltf.git
